<div class="forgot" *ngIf="!sent">
  <h2>Forgotten Password?</h2>
  If you've forgotten your password, we can send you a reset link to your email address.
  <form #form="ngForm" (ngSubmit)="submit()">
    <mat-form-field>
        <input matInput name="email" placeholder="Email" [formControl]="emailFormControl">
    </mat-form-field> <br />
    <button mat-raised-button color="primary">Submit</button>
  </form>
</div>

<div class="forgot" *ngIf="sent">
  <h2>Email Sent!</h2>
  An email has been sent to your inbox containing a reset password link. It should arrive within 5 minutes.
</div>