.account-stats-info {
  text-transform: capitalize;
  font-size: 30px;
  color: #fff;
  background: #007bff;
  padding: 10px;
  display: block;
  width: 40%;
  margin: 10px auto;
  text-align: center;
  border-radius: 5px;
}

.stats-overlay {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -57.5%);
  font-size: 175px;
  font-weight: 600;
}