<div class="row justify-content-md-center">
  <div class="col-md-12 home-header-image">
    <div class="home-header-container">
      <h1 class="home-image-header">Waterway Litter</h1>
      <h4 class="image-subheader">Join the fight against litter in your local waterways!</h4>
      <a class="btn btn-primary image-cta" routerLink="/browse-public" role="button">Browse Images Now</a>
    </div>
  </div>

  <div class="col-md-12 section">
    <div class="row">
      <div class="col-md-8">
        <h4>Why {{appName}}?</h4>
        <p>
          You might be surprised to hear that approximately <strong>11 million tonnes</strong> of waste exists in Australia's biggest "waste dump",
           The Great Pacific Garbage Patch, which lies in the Pacific Ocean. We have found through various statistics detailing that <strong>80%</strong>
            of this waste has come from local waterways which then lead out to sea.
        </p>
        <p>
          That's why we created {{appName}}! We want to educate people on the impact of waterway litter in an interactive and rewarding way. 
          The aim of Waterways Litter is to create awareness around the impact of littering on the world's waterways. 
          By creating a fun and interactive service that also educates users as they participate,
           our goal is to change the way people think about litter and the disposal of it.
        </p>
      </div>
      <div class="col-md-4">
        <img src="assets/images/great-garbage-patch.jpg" width="100%" alt="The Great Pacific Garbage Patch" />
      </div>
    </div>
  </div>
  
  <div class="col-md-12 section-alt">
    <div class="row">
      <div class="col-md-4">
        <img src="assets/images/waterways-desktop-view.png" width="100%" alt="Waterways Desktop" />
      </div>
      <div class="col-md-8">
        <h4>How to use {{appName}}?</h4>
        <p>
          You can use the Waterways Litter application on any device; desktop, laptop, tablet, or mobile phone. 
          All you need is an internet connection so that you can access our servers.
        </p>
        <p>
          Simply create an account and upload an image by heading on over to your profile page.
          Add in a title, description, and an image that you took of rubbish in a local waterway.
          Then, our servers, using the latest computer vision technology, will identify different types of litter in your photo.
          Your image will now be publically visible for all to see your findings. It will also provide much needed data to make up the statistics on our site.
        </p>
        <p>
          <i>Start cleaning up your local waterway today and help promote a cleaner tomorrow!</i>
        </p>
      </div>
    </div>
  </div>
</div>
