/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css'; 

* {
    font-family: Lato, sans-serif;
}

p {
    font-size: 16px;
}

body {
    background-color: #fff;
    color: #111;
}

body {
    margin: 0;
}

.home-image-header {
    color: #fff;
    font-weight: 700;
    font-size: 50px;
    text-transform: uppercase;
}

.image-header {
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}

.section {
    padding: 100px 10%;
    background-color: #fff;
}

.section-alt {
    padding: 100px 10%;
    background-color: #333;
    color: #fff;
}

.section h4, .section-alt h4 {
    display: inline-block;
    border-bottom: 1px solid #333;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.section-alt h4 {
    border-bottom: 1px solid #fff;
}

.tab-content {
    padding: 10px 15px;
}

.image-list mat-form-field {
    width: 100%;
}

.mat-tab-label, .mat-header-cell, div[class^=".mat-paginator-"], .mat-tab-label-active, .mat-input-placeholder-wrapper {
    font-weight: 700;
    color: #111;
}

.mat-tab-label .mat-tab-label-content {
    color: #666;
}

.mat-tab-label-active .mat-tab-label-content {
    color: black !important;
}

.mat-error, .mat-header-cell, div[class^="mat-paginator"] {
    font-size: 14px;
    color: #111;
}

@media only screen and (max-width: 991px) {
    .section, .section-alt {
        padding: 25px;
    }
}