/* User Upload CSS file */

mat-form-field {
  width: 75%;
  margin: 0 12.5%;
}

#image-upload {
  margin: 0 12.5%;
  width: 75%;
  button {
    width: 30%;
  }
}

.submit-btn {
  margin: 15px 35%;
  width: 30%;
}

img {
  max-width: 75%;
}