<form #imageUploadForm>
  <mat-form-field>
    <input matInput name="title" placeholder="Image Title" [formControl]="titleFormControl" (change)="changeTitleValue($event)">
    <mat-error *ngIf="titleFormControl.hasError('required')">
      An image title is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput name="description" placeholder="Description" [formControl]="descFormControl" rows="5" (blur)="changeDescriptionValue($event)"></textarea>
    <mat-error *ngIf="descFormControl.hasError('required')">
      A description is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <div id="image-upload">
    <button class="btn btn-primary file-btn" (click)="fileInput.click()">Choose Image</button>
  </div>
  <div align="center">
    <br />
    <img [src]="localImage" *ngIf="localImage">
  </div>
  <button class="btn btn-primary submit-btn" (click)="onUploadFile()">Upload File</button>

  <input style="display: none;" #fileInput name="image" type="file" (change)="onFileSelected($event)">
</form>
