<footer>
  <div class="row justify-content-md-center">
    <div class="col-md-8">
      <img class="logo" width="200px" src="/assets/images/waterways-logo.png">
    </div>
    <div class="col-md-8">
      <h4 class="footer-logo">Waterway Litter</h4>
    </div>
    <div class="col-md-8 footer-social">
      <a href=""><i class="fab fa-facebook"></i></a>
      <a href=""><i class="fab fa-twitter-square"></i></a>
      <a href=""><i class="fab fa-instagram"></i></a>
    </div>
    <div class="col-md-8">
      <p class="copyright-line">&copy; Copyright {{today | date:'yyyy'}} Zen Tech | QUT Capstone Academic Project</p>
    </div>
  </div>
</footer>