<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
  <div class="top-bar">
    <a class="navbar-brand nav-title" routerLink="/">Waterway Litter</a>
    <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
  </div>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
    <ul class="nav-list navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="isNavbarCollapsed = !isNavbarCollapsed" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="isNavbarCollapsed = !isNavbarCollapsed" routerLink="/statistics">Stats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="isNavbarCollapsed = !isNavbarCollapsed" routerLink="/browse-public">Latest Submissons</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="isNavbarCollapsed = !isNavbarCollapsed" routerLink="/leaderboard">Leaderboard</a>
      </li>
      <li class="nav-item" *ngIf="loggedIn">
        <a class="nav-link" (click)="isNavbarCollapsed = !isNavbarCollapsed" routerLink="/userportal">User Portal</a>
      </li>
      <li class="nav-item" *ngIf="admin">
        <a class="nav-link" (click)="isNavbarCollapsed = !isNavbarCollapsed" routerLink="/moderatorportal">Admin Portal</a>
      </li>

      <span class="nav-divider"></span>

      <span class="nav-link rank-info" *ngIf="loggedIn">Rank: {{currentRank}} | Points to next rank: {{xpNext}}</span>

      <li class="nav-item pull-right">
        <a class="nav-link" (click)="isNavbarCollapsed = !isNavbarCollapsed" *ngIf="!loggedIn" routerLink="/login"><i class="fas fa-user mobile-hide"></i> Login</a>

        <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
          <button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">{{username}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownManual" class="nav-dropdown">
            <a class="nav-link login-btns" *ngIf="loggedIn" (click)="logout(); isNavbarCollapsed = !isNavbarCollapsed"><i class="fas fa-user mobile-hide"></i>Logout</a>
          </div>
          </div>
        
</li>
    </ul>
  </div>
</nav>
