<div class="image-row">
  <div class="image-single"><img src="http://via.placeholder.com/500x500" alt="rubbishtemp" /></div>
  <div class="image-single"><img src="http://via.placeholder.com/500x500" alt="rubbishtemp" /></div>
  <div class="image-single"><img src="http://via.placeholder.com/500x500" alt="rubbishtemp" /></div>
  <div class="image-single"><img src="http://via.placeholder.com/500x500" alt="rubbishtemp" /></div>
  <div class="image-single"><img src="http://via.placeholder.com/500x500" alt="rubbishtemp" /></div>
  <div class="image-single"><img src="http://via.placeholder.com/500x500" alt="rubbishtemp" /></div>
  <div class="image-single"><img src="http://via.placeholder.com/500x500" alt="rubbishtemp" /></div>
  <div class="image-single"><img src="http://via.placeholder.com/500x500" alt="rubbishtemp" /></div>
</div>