/* Browse image css */

.image-single {
  height: 100%;
  border: 2px solid #333;
}

.image-cont-row {
  text-align: center;
}

.image-container {
  height: 300px;
  width: 300px;
  padding: 15px;
  display: inline-block;
}

@media only screen and (max-width: 330px) {
  .image-container {
    width: 100%;
  }
}