/* Browse image css */

/* .image-single {
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;

  box-sizing: border-box;
  padding-bottom: 25px;
}

.image-single img {
  max-width: 100%;
} */

.image-container {
  
}

.image-desc {
  
}