<div class="center content">
  <h1>{{ (login) ? "Login" : "Signup" }}</h1>

  <button class="loginBtn loginBtn--facebook" (click)="loginToFacebook()">
    {{ (login) ? "Login" : "Signup" }} with Facebook
  </button>
  <button class="loginBtn loginBtn--google" (click)="loginToGoogle()">
    {{ (login) ? "Login" : "Signup" }} with Google
  </button>

  <h3>Or</h3>

  <form #form="ngForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="full-width">
        <input name="email" matInput placeholder="email" [formControl]="loginFormControl" >
        <mat-error *ngIf="loginFormControl.hasError('required')">
          Please enter a valid email
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input name="password" matInput placeholder="password" type="password" [formControl]="passwordFormControl" />
        <mat-error *ngIf="loginFormControl.hasError('required')">
          Please enter a valid password
        </mat-error>
      </mat-form-field>

  <button class="btn btn-primary" type="submit">{{ (login) ? "Login" : "Signup" }}</button>

  </form>

  <br />
  <br />
  <button mat-button (click)="login = !login">
    {{ (login) ? "Don't have an account? Signup." : "Have an account? Login." }}
  </button>
</div>