/* Modetatorportal Component CSS file */

.delete-btn {
  background-color: #d3434a;
  color: #fff;
}

.delete-btn:hover {
  background-color: #b42a30;
}

.accept-btn {
  background-color: #3fc65a;
  color: #fff;
}

.accept-btn:hover {
  background-color: #2fa146;
}

.reset-btn {
  background-color: #ffa500;
  color: #fff;
}

.reset-btn:hover {
  background-color: #cc8400;
}

.delete-btn .mat-button-wrapper, .accept-btn .mat-button-wrapper {
  line-height: 0px;
}

.delete-btn .material-icons, .accept-btn .material-icons {
  padding: 5px;
}

.mat-column-title .mat-cell, .mat-column-url .mat-cell {
  padding-right: 10px;
}

.mat-column-title, .mat-column-url {
  flex: 35%;
  padding-right: 10px;
}

.mat-column-delete {
  width: 30%;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .mat-column-title {
    flex: 10%;
  }

  .mat-row {
    padding: 0px;
  }
}
